/* style reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslateblue;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 250px 3fr 1fr; */
  grid-template-columns: auto 3fr 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "dashboard   nav nav"
    "dashboard   main   info";
}



/* dashboard */
.dashboard {
  grid-area: dashboard;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  background-color: rgb(53, 128, 226);
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  gap: 3rem;
}
.title {
  display: grid;
  grid-template-columns: auto 1fr;
}
.sections,
.options {
  list-style: none;
  padding: 0;
}
.dashboard li {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  padding: .25rem;
}
img + p {
  padding-left: 1em;
}



/* nav bar */
.nav {
  grid-area: nav;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  background-color: white;
  padding: 1rem 2rem;
}

.search {
  display: grid;
  gap: 1rem;
  /* padding: 1rem; */
  grid-template-columns: auto 1fr;
  align-self: center;
}
.user {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  align-self: center;
  justify-self: right;
}
.greetings {
  display: grid;
  gap: 1rem;
  justify-self: start;
  align-self: center;
  grid-template-columns: repeat(3, auto);
  /* padding: 1rem; */
  
} .greetings > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-buttons {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
}





/* main content */
.main {
  grid-area: main;
}



/* info */
.info {
  grid-area: info;
}



/* temporal scale for placeholders */
[src*="placeholder"] {
  width: 32px;
}

/* for testing */
** {
  outline: 1px solid green;
}